@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f172a;
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Custom styles for resizable panels handles */
[data-panel-group-direction="horizontal"]>[data-panel-resize-handle] {
  width: 1px;
  background-color: #1e293b;
  /* slate-800 */
  transition: background-color 0.2s;
}

[data-panel-group-direction="horizontal"]>[data-panel-resize-handle][data-resize-handle-active] {
  background-color: #3b82f6;
  /* blue-500 */
}